.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container{
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

h1{
  margin: 50px 0;
}

.Movie-wrapper{
  width: 300px;
  border-radius: 15px;
  background-color: antiquewhite;
  color: black;
}

.Movie-search{
  border-radius: 15px;
  height: 24px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 470px;
}

.Movie-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-weight: bold;
}

.Movie-image{
  width: 300px;
}

.Movie-date{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 8px;
}
.release-date{
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
}

.Movie-rate{
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-bottom: 14px;
}
.rating{
  font-size: 20px;
  font-weight: normal;
  color: black;
}

@media (max-width: 768px) {
  .Movie-container{
    gap: 18px;
  }
  .Movie-wrapper{
    width: 165px;
  }

  .Movie-title{
    height: 60px;
    font-size: 16px;
  }

  .Movie-image{
    width: 165px;
  }

  .Movie-date{
    margin-top: 8px;
    margin-bottom: 6px;
  }
  .release-date{
    font-size: 16px;
  }

  .Movie-rate{
    font-size: 20px;
  }
  .rating{
    font-size: 16px;
  }

  .Movie-search{
    width: 295px;
  }
}