*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  /* align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container{
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding-bottom: 30px;
  padding-top: 15px;
}
.h1-404{
  font-size: 100px;
  margin-bottom: 10px;
}
.h1-movie{
  padding: 50px 0;
}
.text-movie{
  color: #61dafb;
}

.Movie-wrapper{
  width: 200px;
  border-radius: 15px;
  background-color: antiquewhite;
  color: black;
}
.Movie-wrapper:hover{
  cursor: pointer;
  opacity: 0.7;
}
/* .overlay{
  position: absolute;
  height: 565px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 15px;
  display: none;
} */

.Movie-wrapper:hover .overlay{
  cursor: pointer;
  display: block;
}

.text-h2{
  display: flex;
  padding-left: 160px;
  padding-bottom: 6px;
}
.line{
  background-color: #61dafb;
  height: 3px;
  width: 50px;
  display: flex;
  border-radius: 20px;
  margin-left: 160px;
  margin-bottom: 16px;
}

.Movie-search{
  border-radius: 15px;
  height: 20px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 470px;
}

.Movie-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

.Movie-image{
  width: 200px;
}

.Movie-date{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 8px;
}
.release-date{
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
}

.Movie-rate{
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-bottom: 14px;
}
.rating{
  font-size: 20px;
  font-weight: normal;
  color: black;
}

@media (max-width: 768px) {
  .Movie-container{
    gap: 18px;
  }
  .Movie-wrapper{
    width: 106px;
  }
  .text-h2{
    padding-left: 20px;
  }
  .line{
    margin-left: 20px;
  }
  .Movie-search{
    height: 12px;
  }

  .Movie-title{
    height: 60px;
    padding: 10px;
    font-size: 14px;
  }

  .Movie-image{
    width: 106px;
  }
  
  .Movie-date{
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 3px;
  }
  .release-date{
    font-size: 12px;
  }

  .Movie-rate{
    font-size: 14px;
  }
  .rating{
    font-size: 12px;
  }

  .Movie-search{
    width: 295px;
  }
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  gap: 5px;
  color: white;
}